PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=ISI_PASSWORD_DATABASE_KAMU_DI_SINI
DB_NAME=erapor_db
JWT_SECRET=ISI_JWT_SECRET_KAMU_DI_SINI
CLIENT_URL=http://localhost:3000
BASE_URL=http://localhost:5000
NODE_ENV=development